body
{
    background-color: lightgrey;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    background-image: url("/asset/img/background.jpg");
    background-size: contain;
}

#main
{
    display: inline-block;
    width: 752px;
}

#bradley-cooper
{
    background-color: #35bc7a;
    display: inline-block;
    padding: 20px 110px 40px 30px;
}

.fa-download
{
    font-size: 14px;
}

.fa-info
{
    font-size: 14px;
}

#resume, #button-contact
{
    border: 2px solid white;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-weight: bold;box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
                                  rgba(240, 46, 170, 0.3) 10px 10px,
                                  rgba(240, 46, 170, 0.2) 15px 15px,
                                  rgba(240, 46, 170, 0.1) 20px 20px,
                                  rgba(240, 46, 170, 0.05) 25px 25px;
}

#button-contact
{
    margin-left: 10px;
}

a:hover
{
    color: black;
}

a
{
    text-decoration: none;
    color: white;
}

i
{
    text-align: center;
    font-size: 50px;
}

.box-different
{
    padding: 85px 92px 85px 92px;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
}

#profil
{
    position: relative;
    bottom: 33px;
    right: 4px;
    text-align: center;
    display: inline-block;
    background-color: #ff9e00;
}

#experience
{
    position: relative;
    bottom: 33px;
    text-align: center;
    background-color: #1e8bc4;
}

#education
{
    position: relative;
    bottom: 33px;
    right: 4px;
    text-align: center;
    background-color: #f15a49;
}

#blog
{
    text-align: center;
    position: relative;
    bottom: 33px;
    right: 8px;
    background-color: #35bc7a;
}

.social
{
    padding: 85px 88px 85px 89px;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
}

#social-menu
{
    text-align: center;
    position: relative;
    bottom: 33px;
    background-color: #f86925;
}

.contact
{
    padding: 85px 106px 85px 89px;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
}

#contact
{
    position: relative;
    bottom: 33px;
    right: 4px;
    text-align: center;
    background-color: #1e8bc4;
}

.portfolio
{
    padding: 85px 83px 85px 89px;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
}

#portfolio
{
    text-align: center;
    position: relative;
    bottom: 33px;
    right: 8px;
    background-color: #f86925;
}

#img
{
    display: inline-block;
    position: relative;
    right: 13px;
    top: 55px;
}

#bradley-img
{
    height: 707px;
}

@media screen and (max-width: 700px) {
    body{
        display: flex;
        flex-direction: row;
    }

    #main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        font-size: 12px;
    }

    .box-different, .social, .contact, .portfolio{
        display: flex;
        font-size: 10px;
        height: 50px;
        width: 70%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        flex-direction: column;
    }

    #bradley-cooper{
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }

    #img{
        display: flex;
        top: 0;
        right: 0;
        left: 0;
        bottom: 750px;
        margin: 0;
        height: 250px;
        width: 275px;
        order: -1;
    }

    #bradley-img{
        height: 218px;
        width: 125px;
    }

    h1{
        margin-right: 22px;
    }

    #resume, #button-contact{
        margin-left: 30px;
    }

    #education{
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .social{
        width: 71.5%;
    }

    .contact{
        width: 68.5%;
    }

    .portfolio{
        width: 72.5%;
    }
}

@media screen and (max-width: 350px){
    #bradley-cooper{
        flex-direction: column;
    }

    #bradley-img{
        height: 262px;
        width: 150px;
    }

    .box-different, .social, .portfolio{
        display: flex;
        font-size: 10px;
        height: 50px;
        width: 33%;
        top: 0;
        left: 0;
        right: 100%;
        margin: 0;
        flex-direction: column;
    }

    .contact{
        display: flex;
        font-size: 10px;
        height: 50px;
        width: 28%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        flex-direction: column;
    }

    .social{
        display: flex;
        font-size: 10px;
        height: 50px;
        width: 35%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        flex-direction: column;
    }

    .portfolio{
        width: 36.5%;
    }
}
